body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(../images/bg.jpg) no-repeat top center #fff;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
  }
  .form-group {
	margin-bottom:17px;
}
.form-control {
	    border-radius: 4px;
	        height: 50px;

}
.form-control:focus{
border: 1px solid #3f51b5;

}
.btn {
	border-radius: 4px;
	text-transform:uppercase;
	letter-spacing:3px;
}

.btn-custom1 {
	background-color: #3f51b5;
	color: white;
}
.btn-custom1:hover {
	background-color: #3f51b5;
	color: white;
}